.container{
    background-color: rgb(182, 120, 233);
    margin: 80px auto;
    width: 700px;
    height: 400px;
    border-radius: 30px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.heading{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: purple;
    font-style: bold;
    font-weight: 100;
}

.inputBox{
    background-color: rgb(213, 162, 255);
    border: 0px;
    border-radius: 5px;
    width: 500px;
    height: 40px;
    margin-top: 20px;
}

.button{
    background-color: purple;
    margin-top: 40px;
    color: white;
    padding: 10px 20px;
}

.lastDiv{
    margin-top: 25px;
    font-size: 20px;
}

.button2{
    color: white;
    background-color:purple ;
    border-radius: 5px;
    border-width: 0px;
    font-size: 15px;
}

body{
    background-color: rgb(165, 78, 236);
}