 .container1{
    background-color: rgb(182, 120, 233);
    margin: auto;
    margin-top: 60px;
    width: 700px;
    border-radius: 30px;
    display: flex;
    /* height: auto; */
    min-height: 400px;
    flex-direction: column; 
    align-items: center; 
} 

.heading{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: purple;
    font-style: bold;
    font-weight: 100;
}

.todo-container{
    background-color:rgb(199, 150, 239) ;
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    width: 550px;
    padding: 0px 25px;
    font-size: 25px;
    color: white;
    font-style: italic;
}

.button1{
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: 0px;
    border-radius: 10px;
}

.inputBox1{
    background-color: rgb(213, 162, 255);
    border: 0px;
    border-radius: 5px;
    width: auto;
    height: 35px;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    
}

.logout-container{
    display: flex;
    justify-content:right;
    margin-right: 30px;
    margin-top: 15px;
}